*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(20deg , pink, purple);
    
}

.calculadora{
    
    background-color: white ;
    width: 250px; 
    height: 400px;
}



.botao{
   
    height: 50px;
    width: 50px;
    border-radius: 20px;
    
}
.botao1{
   
    height:50px;
    width: 100px;
    border-radius: 20px;
    
}
.botao2{
   
    height:100px;
    width: 50px;
    border-radius: 20px;
    
}
#resultado {
    margin-bottom: 15px;
     background-color: black;
     height: 80px;
    width: 200px;
    border: 5px black;
    border-radius: 20px;
}

