*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(20deg , pink, purple);
    
}

.calculadora{
    
    background-color: white ;
    width: 250px; 
    height: 400px;
}

.botao{
   
    height: 50px;
    width: 50px;
    border-radius: 20px;
    
}
.botao1{
   
    height: 50px;
    width: 50px;
    border-radius: 20px;
    
}
#resultado {
     margin-bottom: 50px;
     border: 10px gray;
}

