*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(20deg , pink, purple);
    
}

.calculadora{
    margin-top: 10%;
    background-color: white ;
    width: 250px; 
    height: 400px;
    margin-left: 40%;
}



.botao{
   
    height: 50px;
    width: 50px;
    border-radius: 20px;
    
}
.botao1{
   
    height:50px;
    width: 100px;
    border-radius: 20px;
    
}
.botao2{
   
    height:100px;
    width: 50px;
    
    
}
#resultado {
    background-color: black;
    height: 60px;
    width: 215px;
    border: 5px black;
    border-radius: 20px;
    color: white;
    font-size: 50px;

}
table{
        margin-left: 20px;
        margin-top: 50px;
}

